# ! IMPORTANT BIG DEPENDENCY
json.hpp

# Build binaries
build
webserver

# Editors IDEs
.vscode
.idea
.vs

# Python stuff
__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
